body {
    background-color: #eee;
    color: #555;
}

.todolist {
    background-color: #FFF;
    padding: 20px 20px 10px 20px;
    width: 600px;
    margin: 30px auto;
}

.todolist h1 {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.form-control {
    border-radius: 0;
}

li.ui-state-default {
    background: #fff;
    border: none;
    border-bottom: 1px solid #ddd;
}

li.ui-state-default:last-child {
    border-bottom: none;
}

li.completed label {
    text-decoration: line-through;
    color: #aaa;
}

.todo-footer {
    border-top: 1px solid #ddd;
    background-color: #F4FCE8;
    margin: 0 -20px -10px -20px;
    padding: 10px 20px;
    position: relative;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filters li {
    display: inline-block;
}

.filters li a {
    cursor: pointer;
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.filters li a.selected, .filters li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

.mark-all-done {
    margin-top: 10px;
}

.alert {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
}
